@use '../abstracts/mixins';
@use '../abstracts/variables';

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(variables.$color-primary-light, 0.8),
      rgba(variables.$color-primary-dark, 0.8)
    ),
    url('../img/hero-small.jpg');
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @media (min-resolution: 192dpi) and (min-width: 37.5erm),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5erm),
    (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba(variables.$color-primary-light, 0.8),
        rgba(variables.$color-primary-dark, 0.8)
      ),
      url('../img/hero.jpg');
  }

  /* clip-path: polygon(0 0, 100% 50%, 0 100%);  Challinge to make a traiangle */

  @include mixins.respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }

  &__logo-container {
    position: absolute;
    top: 4.2rem;
    left: 4.2rem;
  }

  &__logo-image {
    height: 3.2rem;
  }

  &__text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
