@use '../abstracts/mixins';
@use '../abstracts/variables';
.navigation {
  &__ckeckbox {
    display: none;
  }

  &__button {
    background-color: variables.$color-white;
    width: 7.2rem;
    height: 7.2rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 12;
    box-shadow: 0 1rem 3rem rgba(variables.$color-black, 0.1);

    text-align: center;
    cursor: pointer;

    @include mixins.respond(tab-port) {
      top: 3.2rem;
      right: 3.2rem;
    }
  }

  &__background {
    background-image: radial-gradient(
      variables.$color-primary-light,
      variables.$color-primary-dark
    );
    width: 6rem;
    height: 6rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    top: 7rem;
    right: 7rem;
    z-index: 10;
    -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    //Developmentperpose
    //-webkit-transform: scale(80);
    //-moz-transform: scale(80);
    //-ms-transform: scale(80);
    //-o-transform: scale(80);
    //transform: scale(80);

    @include mixins.respond(tab-port) {
      top: 3.4rem;
      right: 3.4rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    opacity: 0;
    width: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    list-style: none;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  &__item {
    margin: 1.2rem;
  }
  &__link {
    &:link,
    &:active {
      display: inline-block;
      font-size: 3.2rem;
      font-weight: 300;
      padding: 1.2rem 2.4rem;
      color: variables.$color-white;
      text-decoration: none;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        variables.$color-white 50%
      );
      background-size: 230%;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    &:hover,
    &:visited {
      background-position: 100%;
      color: variables.$color-primary;
      -webkit-transform: translateX(1.2rem);
      -moz-transform: translateX(1.2rem);
      -ms-transform: translateX(1.2rem);
      -o-transform: translateX(1.2rem);
      transform: translateX(1.2rem);
    }
  }

  // Functionality
  &__ckeckbox:checked ~ &__background {
    -webkit-transform: scale(80);
    -moz-transform: scale(80);
    -ms-transform: scale(80);
    -o-transform: scale(80);
    transform: scale(80);
  }

  &__ckeckbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // Icon

  &__icon {
    position: relative;
    top: 3.5rem;
    &,
    &::before,
    &::after {
      display: inline-block;
      width: 3.2rem;
      height: 2px;
      background-color: variables.$color-grey-dark-3;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__ckeckbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__ckeckbox:checked + &__button &__icon::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  &__ckeckbox:checked + &__button &__icon::after {
    top: 0;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
