@use '../abstracts/variables';

.btn {
  &:link,
  &:visited {
    font-size: variables.$defualt-font-size;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.8rem 4.2rem;
    display: inline-block;
    position: relative;

    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    border-radius: 10rem;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  &:hover {
    -webkit-transform: translateY(-0.4rem);
    -moz-transform: translateY(-0.4rem);
    -ms-transform: translateY(-0.4rem);
    -o-transform: translateY(-0.4rem);
    transform: translateY(-0.4rem);

    box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.2);

    &::after {
      opacity: 0;

      -webkit-transform: scaleX(1.4) scaleY(1.6);
      -moz-transform: scaleX(1.4) scaleY(1.6);
      -ms-transform: scaleX(1.4) scaleY(1.6);
      -o-transform: scaleX(1.4) scaleY(1.6);
      transform: scaleX(1.4) scaleY(1.6);
    }
  }

  &:active {
    -webkit-transform: translateY(-0.1rem);
    -moz-transform: translateY(-0.1rem);
    -ms-transform: translateY(-0.1rem);
    -o-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem);

    box-shadow: 0 0.5rem 1rem rgba(variables.$color-black, 0.2);
  }

  &--white {
    background-color: variables.$color-white;
    color: variables.$color-grey-dark;

    &::after {
      background-color: variables.$color-white;
    }
  }

  &--green {
    background-color: variables.$color-primary;
    color: variables.$color-white;

    &::after {
      background-color: variables.$color-primary;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    border-radius: 10rem;

    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }

  &--animated {
    -webkit-animation: moveInBottom variables.$animation-duration ease-out 0.75s;
    animation: moveInBottom variables.$animation-duration ease-out 0.75s;

    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: variables.$defualt-font-size;
    color: variables.$color-primary;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 0.3rem;
    border-bottom: solid currentColor 0.1rem;
  }

  &:hover {
    background-color: variables.$color-primary;
    color: variables.$color-white;
    box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.15);
    -webkit-transform: translateY(-0.2rem);
    -moz-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    -o-transform: translateY(-0.2rem);
    transform: translateY(-0.2rem);
  }

  &:active {
    box-shadow: 0 0.5rem rem rgba(variables.$color-black, 0.15);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
