@use '../abstracts/mixins';
@use '../abstracts/variables';

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  color: variables.$color-grey-dark;
  font-size: 1.6rem;
  /* font-weight: 400;  */
}

.main-heading {
  text-transform: uppercase;
  color: variables.$color-white;

  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */

  &--main {
    display: block;
    font-size: 6.4rem;
    font-weight: 400;
    letter-spacing: 3.6rem;

    animation-name: moveInLeft;
    animation-duration: variables.$animation-duration;
    animation-timing-function: ease-out;

    @include mixins.respond(phone) {
      letter-spacing: 1.2rem;
      font-size: 4.2rem;
    }
  }

  &--sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2rem;

    animation-name: moveInRight;
    animation-duration: variables.$animation-duration;
    animation-timing-function: ease-out;

    @include mixins.respond(phone) {
      letter-spacing: 0.6rem;
    }
  }
}

.secondary-heading {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    variables.$color-primary-light,
    variables.$color-primary-dark
  );
  background-clip: text;
  color: transparent;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;

  &:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -moz-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -ms-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -o-transform: skewY(2deg) skewX(15deg) scale(1.1);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(variables.$color-black, 0.2);
  }

  @include mixins.respond(tab-port) {
    font-size: 3.2rem;
  }

  @include mixins.respond(phone) {
    font-size: 2.4rem;
  }
}

.tertiary-heading {
  font-size: variables.$defualt-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: variables.$defualt-font-size;
  &:not(:last-child) {
    margin-bottom: 3.2rem;
  }
}
